*.DS_Store
hofnahrr/.dpd
hofnahrr/data
hofnahrr/config/deploy/dev.rb
hofnahrr/data/mongod.lock
hofnahrr/public/scss/.sass-cache/*
hofnahrr/public/.sass-cache
hofnahrr/public/css/_*
hofnahrr/public/pictures
leafletMapTries
