*.DS_Store
hofnahrr/.dpd
hofnahrr/data
hofnahrr/Captfile
hofnahrr/config
hofnahrr/data/mongod.lock
hofnahrr/public/scss/.sass-cache/*
hofnahrr/public/.sass-cache
hofnahrr/public/css/_*
leafletMapTries
