<div class="block impressum" id="team">
    <div class="block-content">
        <div class="content-impressum">
            <div class="intro-impressum">
                <h2>{{i18n "app_team"}}</h2> 
                <div class="col first">
                    <div class="fotorahmen"> </div>
                </div> 
                <div class="col">
                    <div class="fotorahmen"> </div>
                </div>
                <div class="col">
                    <div class="fotorahmen"> </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
