<div id="questioncontainer">
	<img src="{{getRandomPictureThumb}}" />
	<h4>{{i18n "game_location_whereis"}} {{name}}?</h4>
	<p>{{i18n "game_location_instructions"}}</p>
</div>
<div id="gamemap"></div>