<div id="logo">
    <h2><a class="fg-lilac" href="#">Hofna<span class="fg-lilac">h</span>rr</a></h2>
    <span class="image"></span>
</div>

<div class="content">
    <div class="game-select"></div>
    <div class="progress-summary">
	</div>
	
    <ul id="game-progress">
    </ul>
</div>
