<div id="logo">
    <h2><a class="fg-lilac" href="#">Hofna<span class="fg-orange">h</span>rr</a></h2>
    <span class="image"></span>
</div>

<div class="content">
    <ol id="game-progress">
    </ol>

<div>
	<h2>Fortschrittsanzeige</h2>
	
</div>
</div>
