<aside>
	<h4>Highscore-Liste</h4>
	<table id="game-highscore-list" class="table table-striped">
		<thead>
			<th>{{i18n "game_place"}}</th>
			<th>{{i18n "game_player"}}</th>
			<th>{{i18n "game_points"}}</th>
		</thead>
		<tbody>
		</tbody>
	</table>
</aside>

<div>
	<h3>Gratulation!</h3>
	<p>Du hast das Spiel erfolgreich beendet. Du hast <strong>{{score}}</strong> Punkte erreicht und nur <strong>{{time}} Sekunden</strong> dafür benötigt.</p>

	<h4>Erzähl Deinen Freunden von Hofnahrr:</h4>
	<div>
	<button class="btn disabled"><i class="pictos">B</i>Facebook</button>
	<a class="btn" target="_blank" href="https://twitter.com/intent/tweet?text=Hab gerade das %23Hofnahrrspiel gespielt und finde es ganz großartig. Probier es selber aus unter www.hofnahrr.de"><i class="pictos">B</i>Twitter</a>
	</div>
</div>