<form class="form-horizontal">
    <legend>{{i18n "game_select"}}</legend>
    <div class="control-group">
        <label>{{i18n "game_level"}}</label>
        <label class="radio inline">
            <input type="radio" name="level" checked="checked" value="1"> 1
        </label>
        <label class="radio inline">
            <input type="radio" name="level" value="2"> 2
        </label>
        <label class="radio inline">
            <input type="radio" name="level" value="3"> 3
        </label>
    </div>
    <div class="control-group">
        <button class="btn start-game start-time-game">{{i18n "game_time_game"}}</button>
        <button class="btn start-game start-location-game">{{i18n "game_location_game"}}</button>
    </div>
</form>
