<h2>Glückwunsch, Du hast das Spiel erfolgreich beendet.</h2>
<div>Du hast {{score}} Punkte erreicht. soviel Zeit {{time}} sekunden</div>

<div>
<h4>Highscore-Liste</h4>
<ol id="game-highscore-list">
</ol>
</div>
