<li class="span2">
    <div class="thumbnail">
        <img src="{{url}}" alt="">
        <div class="caption">
            <h5>{{title}}</h5>
            <label>
                <input class="upload-file" value="{{name}}" type="checkbox" checked="checked" /> 
                {{i18n "picture_upload"}}
            </label>
        </div>
    </div>
</li>

