<input type="checkbox" {{isChecked inMosaic}}>
<div data-drop-item-id="{{id}}" class="thumbnail item">
    <div class="img-container" style="background-image:url({{url}})"></div>
    <div class="caption">{{title}}</div>
</div>
