<div id="{{modalId}}" class="modal hide fade {{modalClassName}}">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="{{modalLabel}}">{{modalHeadline}}</h3>
    </div>
    <div class="modal-body modal-content">

    </div>
    <div class="modal-footer">
        <button class="btn pull-left" data-dismiss="modal" aria-hidden="true">{{modalClose}}</button>
        {{#if modalSave}}<button id="save" class="btn btn-primary" aria-hidden="true">{{modalSave}}</button>{{/if}}

<!--        <button class="btn prev" aria-hidden="true">{{modalPrev}}</button>
        <button class="btn next btn-primary">{{modalNext}}</button> -->
        <!--<button data-wizard-action="prev" class="btn">{{modalPrev}}</button>
        <button data-wizard-action="next" class="btn btn-primary">{{modalNext}}</button>-->
    </div>
</div>
