<li><a class="lilac" href="#sight/">{{i18n "discover_discover"}}</a></li>
<li><a class="orange" href="#game/">{{i18n "game_play"}}</a></li>
{{#if userIsLoggedIn}}
<li>
    <a class="green" href="#profile/">{{i18n "profile_profile"}}</a>
</li>
{{/if}}
<li id="user">
</li>
