<form id="picture-form" class="form-horizontal">
    <fieldset>
        <legend>{{i18n "picture_add_pictures"}}</legend>
        <div class="well well-large muted">
            Drop images here
        </div>
        <!--
        <div class="control-group">
            <label class="control-label" for="picture-name">{{i18n "picture_name"}}</label>
            <div class="controls controls-row">
                <input class="input-large" type="text" id="picture-name" name="name" value="{{name}}">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="picture-description">{{i18n "picture_description"}}</label>
            <div class="controls controls-row">
                <input class="input-large" type="text" id="picture-description" name="name" value="{{description}}">
            </div>
        </div>
        -->
    </fieldset>
</form> 
