<ul class="nav nav-list unstyled">
    <li class="fixed nav-header" id="sight-list-header">{{i18n "sights_sights"}}</li>
    <li class="fixed"><a href="#sight/create/"><span class="pictos">&</span> {{i18n "sights_new_sight"}}</a></li>
</ul>
