{{#if speakingId}}
<a class="pull-right" href="#sight/{{speakingId}}/edit/"><i class="pictos">p</i> {{i18n "sight_edit"}}</a>
<ul class="nav nav-tabs">
    <li>
        <a href="#sight/{{speakingId}}/map/"><i class="pictos">@</i> {{i18n "sight_map"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/mosaic/"><i class="pictos">b</i> {{i18n "sight_mosaic"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/gallery/"><i class="pictos">P</i> {{i18n "sight_gallery"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/info/"><i class="pictos">i</i> {{i18n "sight_info"}}</a>
    </li>
</ul>
{{else}}
<ul class="nav nav-tabs">
    <li>
        <a href="#sight/"><i class="pictos">@</i> {{i18n "sight_map"}}</a>
    </li>
</ul>
{{/if}}
