<ul class="nav nav-tabs">
    {{#if speakingId}}
    <li>
        <a href="#sight/{{speakingId}}/map/">{{i18n "sight_map"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/mosaic/">{{i18n "sight_mosaic"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/gallery/">{{i18n "sight_gallery"}}</a>
    </li>
    <li>
        <a href="#sight/{{speakingId}}/info/">{{i18n "sight_info"}}</a>
    </li>
    {{else}}
    <li>
        <a href="#sight/">{{i18n "sight_map"}}</a>
    </li>
    {{/if}}
</ul>

