<a href="#sight/{{speakingId}}/{{subPage}}">
    <span class="thumb" style="background-image:url({{icon.thumb}})"></span>
    <span class="index">{{index}}</span>
    <strong>{{name}}</strong>
    <div class="muted single-line">{{description}}</div>
</a>
