<h3>{{name}}</h3>   
<div>
    {{description}}   
</div>
<h5>Tags</h5>
<ul class="unstyled">
    {{#if tags}}
        {{#each tags}}
        <li><a href="#tag/{{this}}">{{this}}</a></li>
        {{/each}}
    {{else}}
        {{i18n "sight_no_tags"}}        
    {{/if}}
</li>
<h5>Links</h5>
<ul class="unstyled">
    {{#if links}}
        {{#each links}}
        <li><a href="{{this}}">{{this}}</a></li>
        {{/each}}
    {{else}}
        {{i18n "sight_no_links"}}        
    {{/if}}
</li>
{{#if hasLocation}}
    <div>{{location.latitude}}, {{location.longitude}}</div>
{{/if}}
<div>
    <a class="btn" href="#sight/{{speakingId}}/edit">{{i18n "sight_edit"}}</a>
</div>
