<h3>{{i18n "sight_mosaic"}}: {{name}} <button class="btn btn-mini edit-mosaic"><i class="pictos">p</i> {{i18n "sight_edit_mosaic"}}</button></h3>
<div class="span9">
    <div class="v-align-container">
        <div class="v-align-cell">
            <div class="mosaic-view">
                <div class="mosaic-container"></div>
            </div>
        </div>
    </div>
    <ul class="history unstyled">
        
    </ul>
</div>
