<h4>{{name}}</h4>
<ul>
	<li><a href="#sight/{{speakingId}}/mosaic/">Mosaik</a></li>
	<li><a href="#sight/{{speakingId}}/gallery/">Galerie</a></li>
	<li><a href="#sight/{{speakingId}}/info/">Info</a></li>
</ul>