<div id="logo">
</div>

<div class="content">
<input type="text" class="search-query" name="search" placeholder="{{i18n "sight_search"}}" />
<button class="toggle-sidebar btn btn-small btn-primary" title="{{i18n "app_toggle_sidebar"}}"><i class="pictos">`</i></button>

<ul class="nav nav-list unstyled">
<!--    <li class="fixed nav-header" id="sight-list-header">{{i18n "sights_sights"}}</li>-->
    <li class="fixed"><a href="#sight/create/"><i class="pictos">&</i> {{i18n "sights_new_sight"}}</a></li>
</ul>
</div>
