<h3>{{i18n "sight_mosaic"}}: {{name}}</h3>
<div class="span9">
    <div class="v-align-container">
        <div class="v-align-cell">
            <div class="mosaic-container"></div>
            <a href="#edit"><i class="pictos">p</i> {{i18n "sight_edit_mosaic"}}</a>
        </div>
    </div>
    <ul class="history unstyled">
        
    </ul>
</div>
