<div id="logo">
    <h2><a class="fg-lilac" href="#">Hofna<span class="fg-orange">h</span>rr</a></h2>
    <span class="image"></span>
</div>

<div class="content">
    <input type="text" class="search-query" name="search" placeholder="{{i18n "sight_search"}}" />
    <button class="toggle-sidebar btn btn-small btn-primary" title="{{i18n "app_toggle_sidebar"}}">
        <i class="pictos">`</i>
    </button>

    <ul class="nav nav-list unstyled">
        <li class="fixed"><a href="#sight/create/"><i class="pictos">&</i> {{i18n "sights_new_sight"}}</a></li>
        <li class="fixed">
            {{#userMay "edit_sight"}}
                <a href="#sight/create/"><i class="pictos">&</i> {{i18n "sights_new_sight"}}</a>
            {{else}}
                <p class="navbar-text">{{i18n "app_login_to_create_sight"}}</p>
            {{/userMay}}
        </li>
    </ul>
</div>
