<form id="upload-preview" class="contsiner">
    <div class="row-fluid modal-body">
        <ul class="thumbnails">
            <li class="justifier"><!-- --></li>
        </ul>
    </div>
    <div class="modal-footer">
        <button class="pull-left btn close">{{i18n "picture_close"}}</button>
        <input type="submit" class="pull-right btn btn-primary" value="{{i18n "picture_upload"}}" />
    </div>
</form>
