<div id="item-content" class="fluid-fixed">
    <div class="list-container">
        <div class="upload-container"></div>
        <ul class="unstyled items">
        </ul>
    </div>
    <aside class="item-details">
    </aside>
</div>
