.game-select {
    padding-top: 10px;
    @include box-sizing(border-box);
}

#gamemap {
    height: 100%;

    .leaflet-top .leaflet-control {
        background-color: rgba($hn_orange, 0.5);
    }
}

.mapcontainer {
    margin: 0;
    padding: 0px;
}

#questioncontainer {
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 900;
    border: 3px solid $hn_orange;
    background-color: rgba(255, 255, 255, 0.85);
    @include border-radius(0);
    overflow: auto;
    color: $hn_orange;

    img {
        float: left;
        margin-right: 10px;
    }
    padding: 0px 10px 10px 10px;
}

.orange {
    .map-pin {
        background-position: 0 -96px;
        color: $hn_orange;
    }
}

.orange #sidebar {

    color: white;

    

    #logo .image {
        background-position: -21px -96px;
    }

    .bar {
        background-color: $hn_orange;
    }

    ul {
        margin: 0;

        li {
            background-color: rgba(white, 0);
            list-style: none;
            height: auto;
            color: $hn_orange;


            div {
                height: 43px;
                background-color: white;
            }

            .replied {
                opacity: 0.8;
                .status {
                    color: $hn_red;
                }
            }

            .correct {
                .status {
                    color: $hn_green;
                }
            }

            .status {
                display: inline-block;
                padding: 10px 10px;
                font-size: 20px;
            }

            .index {
                background-color: $hn_orange;
                position: relative;
                display: inline-block;
                float: right;
                color: white;
            }

        }

    }
}

#game-highscore-list {
    .active td{
        background-color: rgba($hn_orange, 0.8);
    }
}

#game-highscore-modal {
    // width: 900px;

    aside {
        float: right;
        margin-left: 1em;
        min-width: 45%;
    }
}

.gamestartview {
    background-image: url(../img/bggame.jpg);
    background-repeat: no-repeat;
    background-position: center center; 
    height: 100%;

    h1 {
        text-align: center;
        color: $hn_lilac;
        text-transform: uppercase;
        font-size: 3em;
    }
}

.gameselectview {

    .btn {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 5px;
    }

    legend {
        color: white;
        border-bottom: 1px solid white;
        margin-bottom: 0;
    }
}
