.game-select {
    position: absolute;

    padding: 20px;
    height: 300px;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 50%;
    margin-top: -150px;
  
    @include box-sizing(border-box);
    @include box-shadow(0 0 20px rgba($hn_orange, 0.2));
}

#gamemap {
    height: 100%;

    .leaflet-top .leaflet-control {
        background-color: rgba($hn_orange, 0.5);
    }
}

.mapcontainer {
    margin: 0;
    padding: 0px;
}

#questioncontainer {
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 900;
    border: 3px solid $hn_orange;
    background-color: rgba(255, 255, 255, 0.85);
    @include border-radius(0);
    overflow: auto;
    color: $hn_orange;

    img {
        float: left;
        margin-right: 10px;
    }
}

.orange #sidebar {
    ul {
        margin: 0;

        li {
            background-color: white;
            list-style: none;
            height: auto;

            div {
                height: 43px;
            }

            .replied {
                background-color: grey;
            }

            .correct {
                background-color: green;
            }

            .status {
                display: inline-block;
                // background-color: grey;
                color: $hn_orange;
                // width: 30px;
                padding: 10px 10px;
                font-size: 20px;
            }

            .index {
                background-color: $hn_orange;
                position: relative;
                display: inline-block;
                float: right;
            }
        }

    }
}