/* _sight-map.scss */

@import "leaflet";

.leaflet-top .leaflet-control {
    margin-top: 48px;
    background-color: rgba(87, 35, 129, 0.5);
    @include border-radius(0);
}

.picker-controls {
    padding: 5px;
}

.leaflet-popup {
    .leaflet-popup-content {
        margin: 10px;

        .banner {
            height: 50px;
            margin-left: -11px;
            margin-right: -11px;
            margin-top: -11px;
        }
    }

    .leaflet-popup-content-wrapper {
        background-color:rgba(255, 255, 255, 0.85);
        border: 3px solid $hn_lilac;
        @include border-radius(0);
        overflow: auto;
        color: $hn_lilac;
    }
    .leaflet-popup-tip-container {
        z-index: 1;
        margin-top: -3px;

        .leaflet-popup-tip {
            box-shadow: none;
            width: 10px;
            height: 10px;
            border-bottom: 3px solid rgba($hn_lilac, 0.96);
            border-right: 3px solid rgba($hn_lilac, 0.96);
            margin-top: -8px;
        }

    }
    h4 {
        font-size: 16px;
        margin-bottom: 2em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding-bottom: 10px;

        li {
            float: left;
            padding-right: 6px;
            margin-right: 6px;
            border-right: 1px solid $hn_lilac;
            line-height: normal;
        }

        li:last-child {
            border: none;
        }
    }
}
.map-pin {
    @include sprite_pin();
    text-align: center;

    &.unverified {
        color: red;
    }
}
