#sight-manager {
    box-sizing: border-box;
    @include transition(height 0.3s ease-in);


    &.fixed-fluid {
        position: relative;
        margin: -15px;
        padding-left: 200px;
        height: 400px;
        overflow: hidden;

        .main-nav-list {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 180px;
            padding: 10px;
            border-top: 0;
            border-bottom: 0;
            border-left: 0;

            border-radius: 0;
            margin-bottom: 0;
            @include box-shadow(none);

            .new {
                position: absolute;
                bottom:0;
            }


            h5 {
                margin: 0;
            }
        
            ul {
                position: absolute;
                top: 44px;
                bottom: 22px;
                left: 0;
                right: 0;
                padding: 15px;
                overflow-y: scroll;

                li {
                    &:after,
                    &::after {
                        content: "\0020";
                        background-color: $bodyBackground;
                        width: 15px;
                        height: 15px;
                        display: inline-block;
                        position: absolute;
                        right: -50px;
                        top: 6px;   
                        @include transform(rotateZ(45deg));
                        @include transition(right 0.3s ease-out);
                    }

                    &.active {
                        &:after,
                        &::after {
                            right: -24px;
                        }
                    }

                    a {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            & + * {
                height: 400px;

                .container-header {
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left:200px;
                    right:0;
                    background-color: $wellBackground;
                    height: 34px;
                    padding: 5px 20px;
                    border-bottom: 1px solid darken($wellBackground, 7%);
                    clear:both;
                    margin-bottom: 10px;
                }
            }
            
        }

    }

    .modal-content {
        position: relative;
        padding: 15px;
        margin-top: 42px;
        overflow-y: scroll;
        height: 358px;
        box-sizing: border-box;

    }

    .selected .item {
        background-color: darken($wellBackground, 1%);
    }

    #item-content {
        &.fluid-fixed {
            margin-right: 250px;
        }

        .list-container {
            height: 324px;
        }

        .upload-container {
            background-color: $bodyBackground;
            position: absolute;
            top: -12px;
            left: -14px;
            right: -14px;
            max-height: 0;
            z-index: 1;
            overflow: hidden;
            border-top: 0;
            padding: 0px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.0);
            @include transition(all 0.3s ease-in);

            &:not(:empty) {
                max-height: 100px;
                padding: 10;
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            }
        }

        .items {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow-y: scroll;
            background-color: $bodyBackground;
            margin:0;

            & > li[class*="span"] {
                margin: 0.6%;
                box-sizing: border-box;
                position: relative;
                overflow: hidden;
                display: inline-block;
                vertical-align: middle;
            }

            .img-container {
                margin: 7px 0;
                background-color: inherit;
                width: 100%;
                height: 100px;
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }


            .caption {
                background-color: inherit;
                padding: 5px;
                box-sizing: border-box;
                margin-bottom: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .item-details {
            border-left: 1px solid $grayLighter;
            padding-left:15px;
            right: -250px;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 220px;
        }
    }
}
