@import "fonts";
@import "prefixer";

/* BOOSTRAT EXTENDS */
body{
    padding-top: 60px;
}

a {
    cursor: pointer;
}

.active .muted {
    color: #ccc;
}

.fixed-fluid,
.fluid-fixed, 
.fixed-fixed {
    position: relative;
}

.fixed-fluid {
    margin-left: 300px;
}
.fluid-fixed {
    margin-right: 300px;
    margin-left:auto !important;
}
.fixed-fixed {
    margin: 0 300px;
}
.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left: auto;
    width: 280px;
}


.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-open .popover.in {
    z-index:2000;
}


.sidebar-nav {
    padding: 9px 0;
}

.hover-tools-trigger {
    position: relative;
    overflow: hidden;
 
    .hover-tools {
        background-color: #efefef;
        line-height: inherit;
        padding: 0 3px;
        line-height: 14px;
        border: 1px solid darken(#efefef, 5%);
        border-radius: 3px;
        box-shadow: -5px 0 5px 0 #efefef;
        position: absolute;
        top: 4px;
        right:-25px;
        @include transition(right 0.2s linear);
    }

    &.active .hover-tools {
        right:2px;
        background-color: #08C;
        box-shadow: -5px 0 5px 0 #08C;
        border-color: lighten(#08C, 10%);
        a {
            color: white;
        }
    }
    &:hover {
        .hover-tools {
            right:2px;
        }
    }
}

.drag-over {
    background-color: desaturate(#08C, 20%);

    a {
        color: white;
    }
}

.modal-backdrop {
    background-color: #dedede;
}


@import "tagsinput";

#user {
    position: relative;

    form {
        left: 0;
        position: absolute;
        background-color: white;
        border: 4px solid #efefef;
        padding: 10px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

#sidebar {
    border-radius: 0;
}

i.pictos{
    font-style: normal;
}

@import "mosaic";
@import "sight-info";
@import "sight-map";


// Upload animator
.uploading {
    position: relative;

    &:before,
    &::before {
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        content: '\0020';
        z-index: 1;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/ajax-loader.gif);
        background-position: center center;
        background-repeat: no-repeat;
    }
}

// make a modal large
.large .modal {
    width: 700px;
    margin-left: -350px;
}
// make a modal wider
.wide .modal {
    width: 900px;
    margin-left: -450px;
}

/*
body {

    .animated-turn {
        -webkit-perspective: 1000px;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:5000;
        
        .modal {
            -webkit-transform: rotateY(0deg) translateZ(0);
            @include transition(all 0.3s linear);
            &.turn-out  {
                -webkit-transform: rotateY(90deg) translateZ(0);
            }
            &.turn-in {
                -webkit-transform: rotateY(180deg) translateZ(0);
            }
        }
    }
}
*/
body .animated-turn .modal {
    @include transition(all 0.3s linear);
}


// carousel style
.carousel.slide{
    width: 800px;
    height:600px;
    background-color: black;
}

@import "sight-manager";
