@import "../js/jam/bootstrap-sass/lib/_variables.scss";
@import "fonts";
@import "prefixer";
@import "sprite";

$hn_lilac: #572381;
$hn_orange: #ec7405;
$hn_green: #269d2e;
$hn_red: #d80000;

/* BOOSTRAT EXTENDS */
html, body {
    position: absolute;
    width: 100%;
    height: 100%;
}
body{
    box-sizing: border-box;
    padding-top: 80px;
    overflow: hidden;
}

a {
    cursor: pointer;
}

.btn {
    background-image: none;
    
    @include border-radius(0);
    @include box-shadow(none);
}


.navbar-fixed-top .navbar-inner {
    box-sizing: border-box;
    padding: 20px 0;
    height: 60px;
    background-image: none;
    border: 0;
    @include box-shadow(none);


    .nav > li > a {
        width: 170px;
        height: 40px;
        line-height: 40px;
        box-sizing: border-box;
        padding:0;
        margin: 0 5px;
        text-shadow: none;
        color: $bodyBackground;
        position: relative;
        text-transform: uppercase;
        padding: 10px 20px;
        line-height: 22px;
        font-size: 22px;
        font-weight: normal;

        &:after,
        &::after {
            content: '\0020';
            display: inline-block;
            position: absolute;
            right:8px;
            top: 5px;
            @include sprite_arrow();
        }
    }
}

input.search-query {
    @include border-radius(0);
    border:0;
    @include box-shadow(none);
    text-align: left;
}


.active .muted {
    color: $grayLight;
}

.fixed-fluid,
.fluid-fixed, 
.fixed-fixed {
    position: relative;
}

.fixed-fluid {
    margin-left: 300px;
}
.fluid-fixed {
    margin-right: 300px;
    margin-left:auto !important;
}
.fixed-fixed {
    margin: 0 300px;
}
.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left: auto;
    width: 280px;
}


.single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-open .popover.in {
    z-index:2000;
}


.sidebar-nav {
    padding: 9px 0;
}

.hover-tools-trigger {
    position: relative;
 
    .hover-tools {
        background-color: $grayLighter;
        line-height: inherit;
        padding: 0 3px;
        line-height: 14px;
        border: 1px solid darken($grayLighter, 5%);
        border-radius: 3px;
        box-shadow: -5px 0 5px 0 $grayLighter;
        position: absolute;
        top: 4px;
        right:-35px;
        @include transition(right 0.2s linear);
    }

    &.active .hover-tools {
        right:2px;
        a {
            color: white;
        }
    }
    &:hover {
        .hover-tools {
            right:2px;
        }
    }
}

.drag-over {
    background-color: desaturate($linkColor, 20%);

    a {
        color: white;
    }
}

.modal-backdrop {
    background-color: darken($grayLighter, 5%);
}


@import "tagsinput";

#main-content {
    padding: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

#secondary-nav {
    padding: 0 10px;
    position: absolute;
    height: 38px;
    top:0;
    left:0;
    right: 0;
    z-index: $zindexDropdown - 10;

    a {
        color: $bodyBackground;
        @include border-radius(0);
        border: 0;
        
    }
    
    .nav-tabs {
        border: 0;
    }

    .nav-tabs a:hover {
        background-color: rgba($bodyBackground, 0.5);
    }
}


#user {
    position: relative;

    form {
        left: 0;
        position: absolute;
        background-color: white;
        border: 4px solid #efefef;
        padding: 10px;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
        width: 500px;
        z-index: $zindexModal;
    }
}

.sidebar-visible {
    #page-content {
        margin-right: 330px;
    }

    #sidebar {
        max-height: 1000px;
        ul li {
            display: list-item;
        }
    }
}
#page-content {
    margin-right:0;
    @include transition(margin-right 0.3s ease-in-out);
}

#sidebar {
    border-radius: 0;
    position: fixed;
    right: 30px;
    top: 0;
    bottom: 0;
    z-index: 1031;
    width: 300px;
    margin: 0;
    max-height: 230px;
    padding:0;
    border: 0;
    overflow: hidden;
    @include transition(max-height 0.3s ease-in-out);

    &:hover {
        max-height: 1000px;
        ul li {
            display: list-item;
        }

    }


    ul {
        padding: 0px;

        li {
            display: none;
            background-color: $bodyBackground;
            margin: 10px 0;
            position: relative;
            height:80px;
            box-sizing: border-box;

            &.nav-header {
                background-color: transparent;
                text-shadow: none;
            }

            a {
                margin: 0;
                padding: 20px 10px 20px 90px;
                @include transition (background-color 0.1s linear);
            }

            strong {
                max-width: 145px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &.fixed {
                height: auto;
                
                a {
                    padding: 3px 15px;
                }
            }

            &.active, 
            &.nav-header {
                display: list-item;
            }

            .thumb {
                display: inline-block;
                background-color: $hn_lilac;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                position:absolute;
                top:0;
                bottom:0;
                left:0;
                width: 80px;
                border-right: 1px solid rgba(255, 255, 255, 0.2);
            }

            .index {
                position: absolute;
                right: 10px;
                top:10px;
                width: 28px;
                padding: 2px 5px;
                box-sizing: border-box;
                text-align: center;
                background-color: $hn_lilac;
                color: white;
            }

            &.active {
                .index {
                    background-color: white;
                    color: $hn_lilac;
                }
            }
        }
    }

    #logo {
        height: 121px;
        background-color: $bodyBackground;
        position: relative;

        h2 {
            font-size: 32px;
            text-transform: uppercase;
            font-weight: normal;
            position: absolute;
            bottom:0;
            left:15px;
            letter-spacing:0.08em;
            a {
                text-decoration: none;
            }
        }

        .image {
            display: inline-block;
            @include sprite_logo();
            position: absolute;
            right:15px;
            bottom:10px;
        }
    }

    .content {
        padding: 10px;
    }
}
#secondary-nav {
    padding-right: 340px;
}

i.pictos{
    font-style: normal;
}

@import "mosaic";
@import "sight-info";
@import "sight-map";

//set map to height of the window
.mapcontainer, .row-fluid, #map, #page-content {
    height: 100%;
}

// Upload animator
.uploading {
    position: relative;

    &:before,
    &::before {
        position: absolute;
        left: 0;
        right:0;
        top: 0;
        bottom: 0;
        content: '\0020';
        z-index: 1;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0.5);
        background-image: url(../img/ajax-loader.gif);
        background-position: center center;
        background-repeat: no-repeat;
    }
}

// make a modal large
.large .modal {
    width: 700px;
    margin-left: -350px;
}
// make a modal wider
.wide .modal {
    width: 900px;
    margin-left: -450px;
}

/*
body {

    .animated-turn {
        -webkit-perspective: 1000px;
        position: fixed;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:5000;
        
        .modal {
            -webkit-transform: rotateY(0deg) translateZ(0);
            @include transition(all 0.3s linear);
            &.turn-out  {
                -webkit-transform: rotateY(90deg) translateZ(0);
            }
            &.turn-in {
                -webkit-transform: rotateY(180deg) translateZ(0);
            }
        }
    }
}
*/
body .modal {
    @include transition(all 0.3s linear !important);
}

body .modal.fade {
    -webkit-backface-visibility: hidden;
    @include transform(rotateY(180deg) scale(1));
}
body .modal.fade.in {
    @include transform(rotateY(0deg) scale(1));
}


// carousel style
.carousel.slide{
    width: 800px;
    height:600px;
    background-color: black;
}

@import "sight-manager";



@each $hn_col in lilac, orange, green {
    $c: $hn_lilac;
    @if $hn_col == lilac {
        $c: $hn_lilac;
    }
    @else if $hn_col == orange {
        $c: $hn_orange;
    }
    @else if $hn_col == green {
        $c: $hn_green;
    }

    .navbar .nav > li  a {
        &.#{$hn_col} {
            background-color: #{$c};
        }
    }
    
    .fg-#{$hn_col} {
        color: $c;
    }

    .#{$hn_col} {

        #secondary-nav {
            border-top: 3px solid #{$c}; 
            background-color: rgba($c, 0.5);

            .nav-tabs > .active > a {
                color: #{$c};
                background-color: rgba($bodyBackground, 0.7);
            }
        }

        #sidebar {
            background-color: rgba($c, 0.6);

            ul li {
                &.nav-header {
                    color: darken($c, 10%);
                }
                &:hover a {
                    background-color: lighten($c, 60%);
                }
                &.active a {
                    background-color: #{$c};
                }
            }
        }

        #logo {
            border-bottom: 3px solid #{$c};
        }

        .btn.btn-primary {
            background-color: #{$c};
            color: $bodyBackground;
        }

        a {
            color: #{$c};
        }

        .nav-list > .active > a, 
        .nav-list > .active > a:hover {
            background-color: #{$c};
        }

        .hover-tools-trigger.active {
            .hover-tools {
                background-color: #{$c};
                box-shadow: -5px 0 5px 0 #{$c};
                border-color: lighten($c, 20%);
            }
        }

    }

}

