@font-face {
  font-family: 'Pictos';
  src: url("../fonts/pictos/pictos-web.eot");
  src: local("\u263a"), url("../fonts/pictos/pictos-web.woff") format("woff"), url("../fonts/pictos/pictos-web.ttf") format("truetype"), url("../fonts/pictos/pictos-web.svg#webfontIyfZbseF") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Tipogram';
  src: url("../fonts/tipogram/tipogram-webfont.eot");
  src: url("../fonts/tipogram/tipogram-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tipogram/tipogram-webfont.woff") format("woff"), url("../fonts/tipogram/tipogram-webfont.ttf") format("truetype"), url("../fonts/tipogram/tipogram-webfont.svg#Tipogram") format("svg");
  font-weight: normal;
  font-style: normal; }

.tipogram {
  font-family: 'Tipogram'!important; }

.pictos {
  font-family: 'Pictos'!important; }

.architects-daughter {
  font-family: 'Architects Daughter', cursive; }

/*---------------------------------------------------
    LESS Prefixer
  ---------------------------------------------------
    
    All of the CSS3 fun, none of the prefixes!

    As a rule, you can use the CSS properties you
    would expect just by adding a '.':

    box-shadow => @mixin box-shadow($args)

    Also, when shorthand is available, arguments are
    not parameterized. Learn CSS, not LESS Prefixer.

    -------------------------------------------------
    TABLE OF CONTENTS
    (*) denotes a syntax-sugar helper
    -------------------------------------------------

        @mixin animation($args)
            @mixin animation-delay($delay)
            @mixin animation-direction($direction)
            @mixin animation-duration($duration)
            @mixin animation-iteration-count($count)
            @mixin animation-name($name)
            @mixin animation-play-state$state)
            @mixin animation-timing-function($function)
        @mixin background-size($args)
        @mixin border-radius($args)
        @mixin box-shadow($args)
            @mixin inner-shadow($args) *
        @mixin box-sizing($args)
            @mixin border-box() *
            @mixin content-box() *
        @mixin columns($args)
            @mixin column-count($count)
            @mixin column-gap($gap)
            @mixin column-rule($args)
            @mixin column-width($width)
        @mixin gradient($default,$start,$stop) *
            @mixin linear-gradient-top($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])*
            @mixin linear-gradient-left($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])*
        @mixin opacity($factor)
        @mixin perspective($factor)
        @mixin transform($args)
            @mixin rotate($deg)
            @mixin scale($factor)
            @mixin translate($x,$y)
            @mixin translate3d($x,$y,$z)
            @mixin translateHardware($x,$y) *
        @mixin text-shadow($args)
        @mixin transition($args)
            @mixin transition-delay($delay)
            @mixin transition-duration($duration)
            @mixin transition-property($property)
            @mixin transition-timing-function($function)



    Credit to LESS Elements for the motivation and
    to CSS3Please.com for implementation.

    Copyright (c) 2012 Joel Sutherland
    MIT Licensed:
    http://www.opensource.org/licenses/mit-license.php

-----------------------------------------------------*/
/* Animation */
/* Background Size */
/* Border Radius */
/* Box Shadows */
/* Box Sizing */
/* Columns */
/* Gradients */
/* Opacity */
/* Text Shadow */
/* Transforms */
/* Transitions */
/* BOOSTRAT EXTENDS */
body {
  padding-top: 60px;
  /*&.modal-open #main-content {*/
  /*-webkit-filter: blur(2px);*/
  /*}*/ }

a {
  cursor: pointer; }

.active .muted {
  color: #ccc; }

.fixed-fluid,
.fluid-fixed,
.fixed-fixed {
  position: relative; }

.fixed-fluid {
  margin-left: 300px; }

.fluid-fixed {
  margin-right: 300px;
  margin-left: auto !important; }

.fixed-fixed {
  margin: 0 300px; }

.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 280px; }

.sidebar-nav {
  padding: 9px 0; }

.hover-tools-trigger {
  position: relative;
  overflow: hidden; }
  .hover-tools-trigger .hover-tools {
    position: absolute;
    right: -20px;
    -webkit-transition: right 0.2s linear;
    -moz-transition: right 0.2s linear;
    -o-transition: right 0.2s linear;
    transition: right 0.2s linear; }
  .hover-tools-trigger:hover .hover-tools {
    right: 10px; }

.drag-over {
  background-color: #1481b8; }
  .drag-over a {
    color: white; }

div.tagsinput {
  height: 100px;
  overflow-y: auto; }
  div.tagsinput span.tag {
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 2px 5px;
    padding-right: 10px;
    text-decoration: none;
    background: whiteSmoke;
    color: #888;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    font-family: helvetica;
    font-size: 13px;
    text-shadow: 0 1px 0 white;
    position: relative;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), 0px 1px 1px rgba(0, 0, 0, 0.1); }
    div.tagsinput span.tag:before, div.tagsinput span.tag::before {
      content: '\0020';
      border-bottom-left-radius: 4px;
      border: 1px solid #c9c9c9;
      border-top-color: transparent;
      border-right-color: transparent;
      width: 15px;
      height: 15px;
      background: whiteSmoke;
      position: absolute;
      z-index: 0;
      box-shadow: inset 1px 0 rgba(255, 255, 255, 0.9), 0px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -moz-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -ms-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -o-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      transform: translateX(-14px) translateY(1px) rotateZ(45deg); }
    div.tagsinput span.tag span {
      position: relative;
      z-index: 1; }
    div.tagsinput span.tag a {
      position: absolute;
      font-weight: bold;
      color: #888;
      text-decoration: none;
      font-size: 11px;
      right: 5px;
      text-align: center; }
  div.tagsinput div {
    clear: both;
    display: block; }
    div.tagsinput div input.not_valid {
      background: #FBD8DB !important;
      color: #90111A !important; }
  div.tagsinput .tags_clear {
    clear: both;
    width: 100%;
    height: 0px; }

input.block + div.tagsinput > span.tag, input.block + div.tagsinput > div {
  display: block;
  float: none; }

.modal-backdrop {
  background-color: #dedede; }

#upload-preview {
  position: absolute;
  top: 0;
  width: 800px;
  left: 50%;
  margin-left: -400px;
  background-color: white;
  z-index: 2000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in; }
  #upload-preview .modal-body.fixed-fluid {
    overflow-y: hidden;
    padding-left: 200px;
    margin-left: 0;
    max-height: 400px; }
    #upload-preview .modal-body.fixed-fluid aside {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0px;
      width: 160px;
      padding: 10px;
      border-radius: 0;
      margin-bottom: 0; }
  #upload-preview .justifier {
    padding-left: 100%;
    display: inline-block;
    float: none; }
  #upload-preview .thumbnails {
    text-align: justify;
    margin-left: 0;
    min-height: 200px;
    max-height: 400px;
    overflow-y: scroll; }
    #upload-preview .thumbnails > li[class*="span"] {
      position: relative;
      overflow: hidden;
      margin-left: 0;
      float: none;
      display: inline-block; }
  #upload-preview .selected .thumbnail {
    background-color: #efefef; }
  #upload-preview .thumbnail {
    height: 180px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff; }
    #upload-preview .thumbnail .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: inherit;
      padding: 2px 5px;
      box-sizing: border-box;
      margin-bottom: 0;
      padding-bottom: 4px; }
      #upload-preview .thumbnail .caption h5 {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

#user {
  position: relative; }
  #user form {
    left: 0;
    position: absolute;
    background-color: white;
    border: 4px solid #efefef;
    padding: 10px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.4);
    z-index: 1; }

#sidebar {
  border-radius: 0; }

i.pictos {
  font-style: normal; }

.mosaic-container {
  position: relative;
  margin: auto auto;
  border-radius: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-origin: 50% 50% 0;
  -moz-transform-origin: 50% 50% 0;
  -ms-transform-origin: 50% 50% 0;
  -o-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;
  background-color: #cccccc;
  background-image: -webkit-linear-gradient(-20deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0 4px white, 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transform: rotate(0deg) translateZ(0);
  -moz-transform: rotate(0deg) translateZ(0);
  -ms-transform: rotate(0deg) translateZ(0);
  -o-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0); }

.mosaic-container.initializing {
  border: 100px solid black;
  border-radius: 100px;
  overflow: visible;
  box-shadow: none;
  -webkit-animation: pulse 2s infinite ease-in-out;
  -webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, border-width 0.3s ease-in-out, border-radius 0.3s ease-in-out, box-shadow 0s linear;
  -webkit-transform: rotate(45deg) translateZ(0); }

.mosaic-container.initializing:before {
  color: white;
  content: "loading...";
  font-size: 2em;
  width: 200px;
  text-align: center;
  left: -100px;
  position: absolute;
  top: 0px; }

.panel {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.9);
  position: absolute;
  display: inline-block;
  background-color: transparent;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  /*-webkit-transition: opacity 0.5s ease-in-out 0.3s, -webkit-transform 0s;*/ }

.panel.anim-out {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

.panel.anim-in {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }

.panel.editing {
  opacity: 0.6;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.mosaic-container.initializing .panel {
  opacity: 0!important; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0px); }

  15% {
    -webkit-transform: translateY(10px); }

  25% {
    -webkit-transform: translateY(0px); }

  40% {
    -webkit-transform: translateY(10px); }

  50% {
    -webkit-transform: translateY(0px); }

  100% {
    -webkit-transform: translateY(0px); } }

.banner {
  background-position: center center;
  background-repeat: no-reapeat;
  background-size: cover; }

.uploading {
  position: relative; }
  .uploading:before, .uploading::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: '\0020';
    z-index: 1;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url(../img/ajax-loader.gif);
    background-position: center center;
    background-repeat: no-repeat; }
