/*---------------------------------------------------
    LESS Prefixer
  ---------------------------------------------------
    
    All of the CSS3 fun, none of the prefixes!

    As a rule, you can use the CSS properties you
    would expect just by adding a '.':

    box-shadow => @mixin box-shadow($args)

    Also, when shorthand is available, arguments are
    not parameterized. Learn CSS, not LESS Prefixer.

    -------------------------------------------------
    TABLE OF CONTENTS
    (*) denotes a syntax-sugar helper
    -------------------------------------------------

        @mixin animation($args)
            @mixin animation-delay($delay)
            @mixin animation-direction($direction)
            @mixin animation-duration($duration)
            @mixin animation-iteration-count($count)
            @mixin animation-name($name)
            @mixin animation-play-state$state)
            @mixin animation-timing-function($function)
        @mixin background-size($args)
        @mixin border-radius($args)
        @mixin box-shadow($args)
            @mixin inner-shadow($args) *
        @mixin box-sizing($args)
            @mixin border-box() *
            @mixin content-box() *
        @mixin columns($args)
            @mixin column-count($count)
            @mixin column-gap($gap)
            @mixin column-rule($args)
            @mixin column-width($width)
        @mixin gradient($default,$start,$stop) *
            @mixin linear-gradient-top($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])*
            @mixin linear-gradient-left($default,$color1,$stop1,$color2,$stop2,[$color3,$stop3,$color4,$stop4])*
        @mixin opacity($factor)
        @mixin perspective($factor)
        @mixin transform($args)
            @mixin rotate($deg)
            @mixin scale($factor)
            @mixin translate($x,$y)
            @mixin translate3d($x,$y,$z)
            @mixin translateHardware($x,$y) *
        @mixin text-shadow($args)
        @mixin transition($args)
            @mixin transition-delay($delay)
            @mixin transition-duration($duration)
            @mixin transition-property($property)
            @mixin transition-timing-function($function)



    Credit to LESS Elements for the motivation and
    to CSS3Please.com for implementation.

    Copyright (c) 2012 Joel Sutherland
    MIT Licensed:
    http://www.opensource.org/licenses/mit-license.php

-----------------------------------------------------*/
/* Animation */
/* Background Size */
/* Border Radius */
/* Box Shadows */
/* Box Sizing */
/* Columns */
/* Gradients */
/* Opacity */
/* Text Shadow */
/* Transforms */
/* Transitions */
/* BOOSTRAT EXTENDS */
.fixed-fluid {
  margin-left: 300px; }

.fluid-fixed {
  margin-right: 300px;
  margin-left: auto !important; }

.fixed-fixed {
  margin: 0 300px; }

.row-fluid > .sidebar-nav {
  position: relative;
  top: 0;
  left: auto;
  width: 280px; }

.sidebar-nav {
  padding: 9px 0; }

.right {
  float: right; }

div.tagsinput {
  height: 100px;
  overflow-y: auto; }
  div.tagsinput span.tag {
    border: 1px solid #c9c9c9;
    border-radius: 2px;
    display: block;
    float: left;
    padding: 2px 5px;
    padding-right: 10px;
    text-decoration: none;
    background: whiteSmoke;
    color: #888;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 12px;
    font-family: helvetica;
    font-size: 13px;
    text-shadow: 0 1px 0 white;
    position: relative;
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.9), 0px 1px 1px rgba(0, 0, 0, 0.1); }
    div.tagsinput span.tag:before, div.tagsinput span.tag::before {
      content: '\0020';
      border-bottom-left-radius: 4px;
      border: 1px solid #c9c9c9;
      border-top-color: transparent;
      border-right-color: transparent;
      width: 15px;
      height: 15px;
      background: whiteSmoke;
      position: absolute;
      z-index: 0;
      box-shadow: inset 1px 0 rgba(255, 255, 255, 0.9), 0px 1px 1px rgba(0, 0, 0, 0.1);
      -webkit-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -moz-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -ms-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      -o-transform: translateX(-14px) translateY(1px) rotateZ(45deg);
      transform: translateX(-14px) translateY(1px) rotateZ(45deg); }
    div.tagsinput span.tag span {
      position: relative;
      z-index: 1; }
    div.tagsinput span.tag a {
      position: absolute;
      font-weight: bold;
      color: #888;
      text-decoration: none;
      font-size: 11px;
      right: 5px;
      text-align: center; }
  div.tagsinput div {
    clear: both;
    display: block; }
    div.tagsinput div input.not_valid {
      background: #FBD8DB !important;
      color: #90111A !important; }
  div.tagsinput .tags_clear {
    clear: both;
    width: 100%;
    height: 0px; }

input.block + div.tagsinput > span.tag, input.block + div.tagsinput > div {
  display: block;
  float: none; }

.modal-backdrop {
  background-color: #dedede; }

#upload-preview {
  position: absolute;
  top: 0;
  width: 640px;
  left: 50%;
  margin-left: -320px;
  background-color: white;
  z-index: 2000;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  min-height: 20px;
  box-sizing: border-box;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
  transition: height 0.3s ease-in; }
  #upload-preview .justifier {
    padding-left: 100%;
    display: inline-block;
    float: none; }
  #upload-preview .thumbnails {
    text-align: justify;
    margin-left: 0;
    max-height: 400px;
    overflow-y: scroll; }
    #upload-preview .thumbnails > li[class*="span"] {
      position: relative;
      overflow: hidden;
      margin-left: 0;
      float: none;
      display: inline-block; }
  #upload-preview .thumbnail {
    height: 180px;
    position: relative;
    overflow: hidden; }
    #upload-preview .thumbnail.uploaded {
      opacity: 0.6; }
    #upload-preview .thumbnail .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: white;
      padding: 2px 5px;
      box-sizing: border-box;
      margin-bottom: 0;
      padding-bottom: 4px; }
      #upload-preview .thumbnail .caption h5 {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
